.contact-item{
    position: relative;
    padding: 50px 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-item .content{
    max-width: 800px;
    text-align: center;
}

.contact-item .content p{
    width: 100%;
    margin: 15px 0px;
    text-align: center;
}

.text-contact p{
    margin: 0;
}

.container-contact{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container-contact .contact-info{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container-contact .contact-info .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container-contact .contact-info .box .icon{
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #666;
    border-radius: 50%;
    font-size: 22px;
}

.container-contact .contact-info .box .text-contact{
    display: flex;
    margin-left: 20px;
    flex-direction: column;
}

.contact-form{
    width: 40%;
    padding: 40px;
    background: #fff;
}

.contact-form .input-box{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
    width: 100%;
    padding: 5px 0;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
}

.contact-form .input-box span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box input:valid ~ span,
.contact-form .input-box textarea:focus ~ span,
.contact-form .input-box textarea:valid ~ span{
    transform: translateY(-20px);
    font-size: 15px;
    color: #000000;
}

.button {
    appearance: button;
    position: relative;
    width: 100%;
    margin-top: 10px;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 19px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.button:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.button, .button:focus {
    user-select: auto;
}

.button:hover:not(:disabled) {
    filter: brightness(1.1);
}

.button:disabled {
    cursor: auto;
}

.button:active:after {
    border-width: 0 0 0px;
}

.button:active {
    padding-bottom: 10px;
}

.popup-alert{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%)scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color:#333 ;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup{
    top: 50%;
    visibility: visible;
    transform: translate(-50%, -50%)scale(0.9);
    position: fixed;
    z-index: 9999;
}

.popup-alert p{
    margin: 20px 34px;
}

.popup-alert img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup-alert h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup-alert button{
    appearance: button;
    width: 100%;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 19px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.popup-alert button:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.popup-alert button, button:focus {
    user-select: auto;
}

.popup-alert button:hover:not(:disabled) {
    filter: brightness(1.1);
}

.popup-alert button:disabled {
    cursor: auto;
}

.popup-alert button:active:after {
    border-width: 0 0 0px;
}

.popup-alert button:active {
    padding-bottom: 10px;
}

/* warning */

.warning-alert{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%)scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color:#333 ;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.warning-popup{
    top: 50%;
    visibility: visible;
    transform: translate(-50%, -50%)scale(0.9);
    position: fixed;
    z-index: 9999;
}

.warning-alert p{
    margin: 20px 34px 20px 55px;
}

.warning-alert img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.warning-alert h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.warning-alert button{
    appearance: button;
    width: 100%;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 19px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.warning-alert button:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.warning-alert button, button:focus {
    user-select: auto;
}

.warning-alert button:hover:not(:disabled) {
    filter: brightness(1.1);
}

.warning-alert button:disabled {
    cursor: auto;
}

.warning-alert button:active:after {
    border-width: 0 0 0px;
}

.warning-alert button:active {
    padding-bottom: 10px;
}

.contact-map{
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.6);
    margin-bottom: 40px;
}


@media (max-width:991px){
    .contact-item{
        padding: 50px;
    }
    
    .container-contact{
        flex-direction: column;
    }

    .container-contact .contact-info{
        margin-bottom: 40px;
        
    }

    .container-contact .contact-info,
    .contact-form{
        width: 100%;;
    }

}